[submodule "compilers"]
	path = compilers
	url = https://github.com/litex-hub/litex-conda-compilers
[submodule "eda"]
	path = eda
	url = https://github.com/litex-hub/litex-conda-eda
[submodule "misc"]
	path = misc
	url = https://github.com/litex-hub/litex-conda-misc
[submodule "prog"]
	path = prog
	url = https://github.com/litex-hub/litex-conda-prog
